.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 6rem;
  min-height: 100vh;
  align-self: stretch;
  flex:1
}

.container_bar{
  max-height: 500px;
  align-self: stretch;
}

.title{
  font-size:1.5rem,

}

.filterContainer{
  display: flex;
  margin-top:1rem;
  column-gap:2rem;
}

.table{
  width:100%;
}

