.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 6rem;
  padding-top: 1rem;
  min-height: 100vh;
  align-self: stretch;
  flex:1;
  overflow:auto;
  width:100%
}

@media(max-width:500px){
  .main{
    padding:2rem
  }
}

.container_bar{
  max-height: 500px;
  align-self: stretch;
}
.titleH1{
  margin-bottom: 1rem;
}
.title{
  font-size:1.5rem;
  margin-bottom:1rem;
  margin-top:1rem

}


.filterContainer{
  display: flex;
  margin-top:1rem;
  column-gap:2rem;
}

.table{
  display: flex;
  flex-direction: column;
}

