.table{
    display: flex;
    flex-direction: column;
    overflow-x: auto;
  }
  
  .title{
    font-size:1.5rem,
  
  }

.headTable{
    display: flex;
    align-self: stretch;
    margin-bottom: 0.5rem;
  }
  .headTable div{
    background:#eee;
    padding:1rem;
    flex: attr(data-size);
    border-radius: 0.5rem;
    font-size: 20px;
  }
  
.contentTable {
    display: flex;
    flex-direction: column;
}
.contentTable li{
    display: flex;
}
.contentTable li p{
    padding:0.5rem 1rem;
    font-size: 20px;
    flex:attr(data-size);
}
.contentTable li p{
    border-bottom:1px solid #aaa;
}

  .filterContainer{
    display: flex;
    margin-top:1rem;
    column-gap:2rem;
  }
  