.table{
    display: flex;
    flex-direction: column;
  }
  
  .title{
    font-size:1.5rem,
  
  }

.headTable{
    display: flex;
    align-self: stretch;
    margin-bottom: 0.5rem;
  }
  .headTable div{
    background:#eee;
    padding:1rem;
    flex: attr(data-size);
    border-radius: 0.5rem;
  }
  
.contentTable {
    display: flex;
    flex-direction: column;
}
.contentTable li{
    display: flex;
}
.contentTable li p{
    padding:0.5rem 1rem;
    flex:attr(data-size);
}
.contentTable li p:nth-child(1n){
    background-color: #62ADF9;
}
.contentTable li p:nth-child(2n){
    background-color: #054A91;
}


  
  .filterContainer{
    display: flex;
    margin-top:1rem;
    column-gap:2rem;
  }
  